.logo-font{
  display: inline-block;
  vertical-align: middle;
  color: #ff3c00;
  font-weight: 900;
}
.xwc-uk-dropdown{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(255,255,255 ,0.8);
  padding: 0px;
  margin-top: -1px;
  border-radius: 0px;
  text-align: center;
  line-height: 40px;
  height: 40px;
}
.xwc-uk-dropdown>ul>li{
  display: inline;
}
.xwc-uk-dropdown>ul>li>a{
  text-decoration: none;
  margin: auto 10px;
  color: #000;
}
.xwc-uk-dropdown>ul>li>a:hover{
  color: #ff3c00;
}
.uk-navbar-nav > li.uk-active > a {
  color: #ff3c00;
}