.logo-font{
  display: inline-block;
  vertical-align: middle;
  color: #F40;
  font-weight: 900;
}
.xwc-uk-dropdown{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(255,255,255 ,0.8);
  padding: 0px;
  margin-top: -1px;
  border-radius: 0px;
  text-align: center;
  line-height: 40px;
  height: 40px;
}
.xwc-uk-dropdown>ul>li{
  display: inline;
}
.xwc-uk-dropdown>ul>li>a{
  text-decoration: none;
  margin: auto 10px;
  color: #000;
}
.xwc-uk-dropdown>ul>li>a:hover{
  color: #F40;
}
.uk-navbar-nav > li.uk-active > a {
  color: #F40;
}
.active-font-color{
  color: #F40!important;
}
.more-page{
  display: inline-block;
  background-color:#F40 ;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  padding: 5px 15px;
}
.more-page:hover{
  color: #ffffff;
  text-decoration: none;
}
@media screen and (min-width: 678px) {
  #video-container {
    width: 600px;
    height: 400px;
  }
}
